#setup{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}
#setup>h1{
 font-size: 40px;
 font-family: Arial, Helvetica, sans-serif;
}
#setup{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#setupin{
    width: auto;
    height: auto;
    padding: 30px;
    margin-top: 50px;
    background-color: whitesmoke;
    margin-bottom: 90px;
}
#setupcontent{
    width: 80%;
    margin: auto;
    display: flex;
}
#setuplist {
    font-size: 25px;
    margin-bottom: 20px;
}
#setuplist ol li{
    padding-left: 2rem;
   margin-bottom: 30px;
}
ol {
    list-style: none;
    padding-left: 40px;
  }
  ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position:relative;
    z-index: 100;
  }
 ol li::before{
  content: counter(my-awesome-counter);
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: calc(-1 * 32px - 10px);
  line-height: 32px;
  width: 55px;
  height: 50px;
  top: 0;
  background:rgb(27, 171, 27);
  border-radius: 50% 40% 40% 50%;
  text-align: center;
  align-content: center;
  z-index: 100;
}
#how{
    width: 25%;
    text-align: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#how+div{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
#dqm{
    width: 85%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#dqm>div{
    width: 31%;
}
ul{
    list-style: none;
    font-size: 20px;
}
ul li{
    margin: 20px 0px;
}
ul li::before{
  content: "\2022";
  color: green;
  font-weight:900;
  display: inline-block; 
  width: 1.5rem;
  margin-left: -1em;
}
#trusthead{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}
#trusted{
margin-top: 100px;
margin-bottom: 100px;
}
#icons{
    width: 90%;
    display: flex;
    justify-content: center;
    margin :auto;
}
#icons>img{
  width: 100px;
  margin:10px 65px;
}
#faqhead{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
}
#faqcont{
    
    width :70%;
    margin:auto;
    display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,auto);
   gap: 20px;
}
#faqcont>div{
    text-align: justify;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   padding: 20px 40px;
   border-radius: 7px;
   font-family: Arial, Helvetica, sans-serif;
}
#three{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    height: 380px;
}
#threehead{
    margin-top: 8%;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;
}
#three>div>img{
    margin-top: -100px;
}
#threehead>h1{
    font-size: 55px;
    margin-top: -5px;
    margin-bottom: 10px;
}
#threehead>h4{
    font-size: 20px;
}
#threehead>button{
    padding: 14px 20px;
    background-color: rgb(20, 198, 70);
    color: white;
    border: 0px;
    border-radius: 7px;
}
footer{
    background-color: whitesmoke;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
#footericon>span{
    margin-right: 20px;
    padding:15px;
    border: 3px solid black;
    border-radius: 50%;
}
#footericon>span>i:hover{
   color: green;
}
#footericon>p{
    margin-bottom: 50px;
}